body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.button{
  border: 5px rgb(255, 255, 255);
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  width: 80px;
  height: 30px;
}
.button:hover{
  background-color: aliceblue;
  color: black;
  border: 2px;
  border-color: aliceblue;
}